demo/* linguist-documentation=false
demo/* linguist-vendored=false

java/* linguist-documentation=false
java/* linguist-vendored=false

controller/* linguist-documentation=false
controller/* linguist-vendored=false

jsp/* linguist-documentation=false
jsp/* linguist-vendored=false